In [1]:
!pwd

/home/ubuntu/notebooks/final exam

In [2]:
# import command.
import os
os.listdir()

['2017Q3-capitalbikeshare-tripdata.csv',
 '2017q1-4.csv',
 'zomato.csv.zip',
 'practice-DM_BI_v2.ipynb',
 '09_FInalProject.ipynb',
 '2017Q2-capitalbikeshare-tripdata.csv',
 'Draft_FInalProject (1).ipynb',
 '2017-Q1-trips.zip',
 '2017Q4-capitalbikeshare-tripdata.csv',
 '2017q1.csv',
 '.ipynb_checkpoints']

In [4]:
!unzip zomato.csv

Archive:  zomato.csv.zip
  inflating: zomato.csv.csv

Use xsv command to find the headings of csv file in order to remove the column we do not need for better analysis.

In [5]:
!xsv headers zomato.csv

1   url
2   address
3   name
4   online_order
5   book_table
6   rate
7   votes
8   phone
9   location
10  rest_type
11  dish_liked
12  cuisines
13  approx_cost(for two people)
14  reviews_list
15  menu_item
16  listed_in(type)
17  listed_in(city)

There are 17 columns in this csv files. The following columns are not needed in the further analysis.


1 url

2 name

8 phone

14 reviews_list


We will remove these 4 columns and take the rest and name it a new csv file using csvcut command. -z is to exapnd the maximum length of characters.

In [6]:
!csvcut -z 2500000 -c 3,4,5,6,7,9,10,11,12,13,15,16,17 zomato.csv > zomato2.csv

Chekcing the existing columns for new csv file.

In [7]:
!csvcut -n zomato2.csv

  1: name
  2: online_order
  3: book_table
  4: rate
  5: votes
  6: location
  7: rest_type
  8: dish_liked
  9: cuisines
 10: approx_cost(for two people)
 11: menu_item
 12: listed_in(type)
 13: listed_in(city)

In [8]:
!csvstat zomato2.csv

  1. "name"

	Type of data:          Text
	Contains null values:  False
	Unique values:         8792
	Longest value:         159 characters
	Most common values:    Cafe Coffee Day (96x)
	                       Onesta (85x)
	                       Just Bake (73x)
	                       Empire Restaurant (71x)
	                       Five Star Chicken (70x)

  2. "online_order"

	Type of data:          Boolean
	Contains null values:  False
	Unique values:         2
	Most common values:    True (30444x)
	                       False (21273x)

  3. "book_table"

	Type of data:          Boolean
	Contains null values:  False
	Unique values:         2
	Most common values:    False (45268x)
	                       True (6449x)

  4. "rate"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         65
	Longest value:         6 characters
	Most common values:    None (7775x)
	                       NEW (2208x)
	                       3.9/5 (2098x)
	                       3.8/5 (2022x)
	                       3.7/5 (2011x)

  5. "votes"

	Type of data:          Number
	Contains null values:  False
	Unique values:         2328
	Smallest value:        0
	Largest value:         16832
	Sum:                   14671985
	Mean:                  283.698
	Median:                41
	StDev:                 803.839
	Most common values:    0 (10027x)
	                       4 (1140x)
	                       6 (992x)
	                       7 (872x)
	                       9 (738x)

  6. "location"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         94
	Longest value:         29 characters
	Most common values:    BTM (5124x)
	                       HSR (2523x)
	                       Koramangala 5th Block (2504x)
	                       JP Nagar (2235x)
	                       Whitefield (2144x)

  7. "rest_type"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         94
	Longest value:         29 characters
	Most common values:    Quick Bites (19132x)
	                       Casual Dining (10330x)
	                       Cafe (3732x)
	                       Delivery (2604x)
	                       Dessert Parlor (2263x)

  8. "dish_liked"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         5272
	Longest value:         134 characters
	Most common values:    None (28078x)
	                       Biryani (182x)
	                       Chicken Biryani (73x)
	                       Friendly Staff (69x)
	                       Waffles (68x)

  9. "cuisines"

	Type of data:          Text
	Contains null values:  True (excluded from calculations)
	Unique values:         2724
	Longest value:         86 characters
	Most common values:    North Indian (2913x)
	                       North Indian, Chinese (2385x)
	                       South Indian (1828x)
	                       Biryani (918x)
	                       Bakery, Desserts (911x)

 10. "approx_cost(for two people)"

	Type of data:          Number
	Contains null values:  True (excluded from calculations)
	Unique values:         71
	Smallest value:        40
	Largest value:         6000
	Sum:                   28533075
	Mean:                  555.432
	Median:                400
	StDev:                 438.851
	Most common values:    300 (7576x)
	                       400 (6562x)
	                       500 (4980x)
	                       200 (4857x)
	                       600 (3714x)

 11. "menu_item"

	Type of data:          Text
	Contains null values:  False
	Unique values:         9098
	Longest value:         24897 characters
	Most common values:    [] (39617x)
	                       ['Butter Chicken Pizza', 'Bombay Veggie Burger', 'Tawa Paneer Burger', 'Oh So Cheesy Burger', 'Barbecue Chicken Burger', 'Peri Peri Chicken Burger', 'BBQ Lamb', 'Cheesy Chicken', 'Crunchy Ferrero', 'Lots of Nuts', 'Kadhai Paneer Pizza', 'Chilli Paneer and Mushroom Pizza', 'Chipotle Veggie Pizza', 'Creamy Cheese Pizza', 'Southern Veggie Korma Pizza', 'Popeye, The Corny Man Pizza', 'Paneer Tikka Pizza', 'Desi Margherita Pizza', 'Roasted Paneer with Mustard Pizza', 'Bangalore Express Pizza', 'Italian Chaska Pizza', 'Mayo and Cheese Pizza', 'Classic Margherita', 'Cajun Hawaiian Pizza', 'Butter Chicken Pizza', 'Lasooni Bhuna Murg Pizza', 'Chilly Chicken Pizza', 'Hot Garlic Chicken Pizza', 'Murg Barbecue Pizza', 'Mediterranean Mutton Keema Pizza', 'Super Green Burger', 'Quinoa Black Bean Burger', 'Bombay Veggie Burger', 'Tawa Paneer Burger', 'Oh So Cheesy Burger', 'Barbecue Chicken Burger', 'Chipotle Lamb Burger', 'Crumb Fried Fish Burger', 'Peri Peri Chicken Burger', 'BBQ Lamb', 'Cheesy Chicken', 'Picnic Chicken Burger', 'Korean Grilled Chicken with Kimchi', 'Kiddy Kat Strawberry', 'Kiddy Kat Chocolate', 'Bubblegum', 'Oreo Shake', 'Caramel Shake', 'Chocolate Shake', 'Strawberry Shake', 'Vanilla Shake', 'Cold Coffee', 'Virgin Mojito', 'Iced Tea', 'Hot Chocolate', 'Cappuccino', 'Latte', 'Espresso Shot', 'Brownie Shake', 'Red Velvet Cheesecake Shake', 'Oreo Cheesecake Shake', 'Salted Caramel Popcorn', 'Coconut Crumble', 'Coffee Crunch', 'Bira', 'Thanda Paan', 'Sticky Toffee Pudding', 'Blueberry Cheesecake', 'Nutella Cheesecake', 'Caramel Custard with Strawberry or Figs', 'Red Velvet Cheesecake', 'Tiramisu', 'Zesty Vanilla and Tipsy Brownie', 'Oreo Explosion', 'Chocolate Almond Crumble', 'Crunchy Ferrero', "Stoner's Chocolate Decadence", 'Brownie Bash', 'Chocolate Lava', 'Dark Chocolate Caramel', 'Chocolate Overload', 'Lots of Nuts', 'Peanut Butter Crunch', 'Nutty Fudgy', 'Lemon Pistachio Biscotti', 'Frutilicious Ice Cream', 'Strawberry Tease Ice Cream', 'Mango Tango Ice Cream', 'Lychee Lovers Ice Cream', 'Monkey Business Ice Cream', 'Apple Crumble Ice Cream', 'Blueberry Bliss Ice Cream'] (11x)
	                       ['Avil Milk', 'Oreo Shake', 'Chocolate Shake', 'Royal Falooda', 'Fruits Salad with Ice Cream', 'Fruits Salad with Ice Cream', 'Blackcurrant Ice Cream', 'Spanish Delight Ice Cream', 'Chillout Special Ice Cream', 'Chocolate Ice Cream', 'Butterscotch Ice Cream', 'Pista Ice Cream', 'Strawberry Ice Cream', 'Vanilla Ice Cream', 'Royal Falooda', 'Strawberry Falooda', 'Chillout Special Falooda', 'Lemon Juice', 'Mint Lemon Juice', 'Ginger Lemon Juice', 'Lemon Soda', 'Mint Lemon Soda', 'CAP Juice', 'Kiwi Juice', 'Carrot Juice', 'Pomegranate Juice', 'Watermelon Juice', 'Muskmelon Juice', 'Anjeer Juice', 'Pure Strawberry Juice', 'Papaya Juice', 'Orange Juice', 'Mosambi Juice', 'Grape Juice', 'Apple Juice', 'Pineapple Juice', 'Banana Juice', 'Rose Milk', 'Chikoo Shake', 'Sharja Shake', 'Kiwi Shake', 'Oreo Shake', 'Raspberry Shake', 'Pomegranate Shake', 'Mango Shake', 'Muskmelon Shake', 'Papaya Shake', 'Apple Shake', 'Berries Shake', 'Spanish Delight Shake', 'Blackcurrant Shake', 'Chillout Special Shake', 'Chocolate Shake', 'Butterscotch Shake', 'Strawberry Shake', 'Vanilla Shake', 'Pista Shake', 'Cold Coffee Shake', 'Avil Milk', 'Special Milk', 'Kulki Sarbath', 'Sweet Lassi', 'Chocolate Lassi', 'Mango Lassi', 'Banana Lassi', 'Strawberry Lassi'] (10x)
	                       ['Chicken Cheese Burger', 'Chicken Billys BIg Burger', 'French Fries', 'Alfredo Veg Pasta', 'Brownie Waffles', 'Veg Burger', 'Veg Cheese Burger', 'Veg Caramelized onion Burger', 'Mushroom Classic Burger', 'Veg English Cheddar Cheese Burger', 'Veg Chipotle Corn Burger', 'Veg Billys BIg Burger', 'Chicken Burger', 'Chicken Cheese Burger', 'Chicken Caramelized Onion Burger', 'Chicken Mushroom Burger', 'Chicken English Cheddar Cheese Burger', 'Chicken Chipotle Corn Burger', 'Chicken Billys BIg Burger', 'Chicken Nuggets Burger', 'Veg Grilled Sandwich', 'Paneer Burji Sandwich', 'Toasted Paneer Sandwich', 'Grilled Mushroom Sandwich', 'Corn and Cheese Sandwich', 'Egg Sandwich', 'Egg Chutney Sandwich', 'Chicken Mayo Sandwich', 'Chicken Cheese Sandwich', 'Hotdog Sandwich', 'Tuna Sandwich', 'Tangy Tomato Pasta', 'Spicy Penne Pasta', 'Alfredo Veg Pasta', 'Smoked Chicken Pasta', 'Alfredo Chicken Pasta', 'French Fries', 'Veg', 'Chicken', 'Fish Finger', 'Vegetable Omelette', 'Masala Omelette', 'Spanish Omelette', 'Cheese Omelette', 'Paneer Omelette', 'Ultimate Vegan Shakes', 'Bittersweet Symphony Shakes', 'The White Paradise Shakes', 'Deep Dark Abyss Shakes', 'Irene Adlers Mystery Shakes', 'Red Weather Parody Shakes', 'Mind palace Shakes', 'Tower of Baskerville Shakes', 'Nights Demon Shakes', 'Black and White Romance Shakes', 'Day Dream Shakes', 'Sherlocks Addiction Shakes', 'Mrs Hudsons Secret Shakes', 'Classic Waffles', 'Caramel Waffles', 'Choco Treat Waffles', 'Brownie Waffles', 'Nutella Crunch Waffles', 'Snowflakes Waffles', 'Rocky Road Waffles', 'Lights Out Waffles'] (9x)
	                       ['Students Veg Combo', 'Office Veg Combo', 'Students Non Veg Combo', 'Office Non Veg Combo', 'Mughlai Non Veg Combo', 'Aloo Paratha Combo', 'Poori Aloo Jeera Combo', 'Poori Aloo Tomato Combo', 'Paneer Paratha Combo', 'Students Veg Combo', 'Office Veg Combo', 'Students Non Veg Combo', 'Office Non Veg Combo', 'Mughlai Non Veg Combo', 'Shami Kebab Roll', 'Mughlai Biryani Combo [Veg]', 'Nawabi Thali Combo', 'The Lajawab Gravy Combo [Veg]', 'Mughlai Meal For Two [Veg]', 'The After Party Starters', 'Royal Feast For Four [Veg]', 'The Galawati Roll', 'Mughlai Biryani Combo [Non Veg]', 'The Nihari Combo [Chicken]', 'The Nihari Combo (Mutton)', 'The Lajawab Gravy Combo [Non Veg]', 'Mughlai Meal For Two [Non-Veg]', 'Biryani Blast', 'Royal Feast For Four [Non-Veg]', 'Baby Corn 65', 'Chilli Baby Corn', 'Mushroom 65', 'Chilli Mushroom', 'Veg Seekh Kebab', 'Kasturi Paneer Tikka', 'Paneer 65', 'Paneer Angara', 'Chilli Paneer', 'Hara Bhara Kebab', 'Paneer Tikka', 'Paneer Malai Tikka', 'Tandoori Veg Platter', 'Tandoori Chicken', 'Mutton Shami Kebab [Signature]', 'Mutton Galouti Kebab [Signature]', 'Chicken 65', 'Chicken Seekh Kebab', 'Chicken Tikka', 'Chilli Chicken', 'Chicken Angara', 'Chicken Kasturi Kebab', 'Chicken Malai Tikka', 'Mutton Sultani Seekh Kebab', 'Non Veg Tandoori Platter', 'Aloo Tomato Gravy', 'Aloo Capsicum Dry', 'Aloo Jeera Dry', 'Dal Fry', 'Dal Tadka', 'Rajma', 'Chole', 'Dal Makhani [Signature]', 'Lipta Mushroom Masala', 'Veg Kolhapuri', 'Chole Curry', 'Paneer Bhurji', 'Miloni Tarkari [Signature]', 'Mixed Veg', 'Palak Paneer', 'Diwani Handi', 'Mattar Paneer', 'Paneer Do Pyaza', 'Butter Paneer', 'Kadai Paneer [Signature]', 'Paneer Tikka Masala [Signature]', 'Methi Malai Paneer', 'Paneer Lababdar [Signature]', 'Murg Musallam', 'Egg Bhurji', 'Egg Curry', 'Chicken Nihari [Signature]', 'Chicken Curry', 'Chicken Do Pyaza', 'Chicken Methi Khas', 'Hyderabadi Chicken', 'Chicken Hara Pyaza', 'Chicken Kali Mirch', 'Chicken Kohlapuri', 'Kadai Chicken', 'Chicken Lababdar', 'Chicken Lajawab [Signature]', 'Chicken Tikka Masala', 'Chicken Boti Kebab Masala', 'Butter Chicken', 'Mughlai Chicken Masala [Signature]', 'Mutton Nihari [Signature]', 'Mutton Do Pyaza', 'Mutton Korma', 'Mutton Rogan Josh', 'Mughlai Mutton Masala', 'Mutton Boti Kebab Masala [Signature]', 'Murg Musallam', 'Steamed Rice', 'Jeera Rice', 'Ghee Rice', 'Khushka', 'Pulao', 'Veg Biryani', 'Mughlai Chicken Dum Biryani [Signature]', 'Chicken Tikka Biryani', 'Mughlai Mutton Dum Biryani [Signature]', 'Tandoori Roti', 'Lachha Paratha', 'Naan', 'Amritsari Kulcha', 'Garlic Naan', 'Missi Roti', 'Mughlai Paratha', 'Poori', 'Mughlai Bread Basket', 'Papad', 'Curd', 'Boondi Raita', 'Mixed Raita', 'Masala Papad', 'Pineapple Raita', 'Paneer Roll', 'Hawker Style Boiled Egg', 'Masala Omelette', 'Chicken Roll', 'Chicken Boti Roll', 'Shami Roll', 'The Galouti Roll [Signature]', 'Mutton Boti Roll', 'Gulab Jamun [2 Pieces]', 'Ice Cream Scoop [single]', 'Rice Kheer', 'Awadhi Kheer [Signature]', 'Gajar Ka Halwa', 'Lachhedar Rabri', 'Shahi Tukda [Signature]', 'Thums Up [750 Ml]', 'Mineral Water [1 Litre]', 'Buttermilk', 'Lime Water', 'Thums Up (600 Ml)', 'Jal Jeera', 'Lassi', 'Lime Water Salt', 'Lime Water Sweet', 'Chocolate Lassi', 'Strawberry Lassi', 'Alphonso Mango Lassi', 'Thandai', 'Mango Lassi'] (9x)

 12. "listed_in(type)"

	Type of data:          Text
	Contains null values:  False
	Unique values:         7
	Longest value:         18 characters
	Most common values:    Delivery (25942x)
	                       Dine-out (17779x)
	                       Desserts (3593x)
	                       Cafes (1723x)
	                       Drinks & nightlife (1101x)

 13. "listed_in(city)"

	Type of data:          Text
	Contains null values:  False
	Unique values:         30
	Longest value:         21 characters
	Most common values:    BTM (3279x)
	                       Koramangala 7th Block (2938x)
	                       Koramangala 5th Block (2836x)
	                       Koramangala 4th Block (2779x)
	                       Koramangala 6th Block (2623x)

Row count: 51717

Check if the new csv file has common syntax errors

In [9]:
!csvclean zomato2.csv

No errors.

Our data has done the simple cleaning and we can create table now.

In [10]:
!pip freeze | grep -E 'ipython-sql|psycopg2'

ipython-sql==0.4.1
psycopg2==2.9.5
psycopg2-binary==2.9.5

In [11]:
 %load_ext sql

In [12]:
!dropdb -U student GP9

In [13]:
!createdb -U student GP9

In [14]:
%sql postgresql://student@/GP9

In [15]:
!psql --version

psql (PostgreSQL) 12.12 (Ubuntu 12.12-0ubuntu0.20.04.1)

### Creating ZOMATO table

In [18]:
%%sql
DROP TABLE IF EXISTS ZOMATO Cascade;
CREATE TABLE ZOMATO (
    name VARCHAR(100),
    online_order VARCHAR(100),
    book_table VARCHAR(100),
    rate VARCHAR(10),
    votes INTEGER,
    location VARCHAR(100),
    rest_type VARCHAR(100),
    dish_liked VARCHAR(100),
    cuisines VARCHAR(100),
    approx_cost_two_people INTEGER,
    menu_item VARCHAR(100),
    listed_in_type VARCHAR(100),
    listed_in_city VARCHAR(100)
);

 * postgresql://student@/GP9
Done.
Done.

[]

In [19]:
%%sql
select * from ZOMATO;

 * postgresql://student@/GP9
0 rows affected.

[]

In [31]:
%%sql
COPY ZOMATO FROM '/home/ubuntu/notebooks/final exam/zomato2.csv'
CSV
HEADER;

 * postgresql://student@/GP9
(psycopg2.errors.BadCopyFileFormat) missing data for column "location_key"
CONTEXT:  COPY zomato, line 2: "Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Lajawa..."

[SQL: COPY ZOMATO FROM '/home/ubuntu/notebooks/final exam/zomato2.csv'
CSV
HEADER;]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

### star schema

### Create location table as a dimension table

In [21]:
%%sql
DROP TABLE IF EXISTS location; 
CREATE TABLE location(
         Key SERIAL PRIMARY KEY,
         location VARCHAR(100),
         cuisines VARCHAR(100),
         menu_item VARCHAR(100)
         );

 * postgresql://student@/GP9
Done.
Done.

[]

#### Populate the location table with data from table ZOMATO

In [22]:
%%sql
INSERT INTO location(location ,cuisines,menu_item)
SELECT DISTINCT location , cuisines ,menu_item
FROM ZOMATO;

 * postgresql://student@/GP9
0 rows affected.

[]

In [23]:
%%sql
select * from location limit 10

 * postgresql://student@/GP9
0 rows affected.

[]

In [24]:
%%sql
ALTER TABLE ZOMATO
ADD COLUMN location_key INTEGER,
ADD CONSTRAINT fk_location
    FOREIGN KEY (location_key)
    REFERENCES location (key);

 * postgresql://student@/GP9
Done.

[]

In [25]:
%%sql
UPDATE ZOMATO
SET location_key = location.key
FROM location

 * postgresql://student@/GP9
0 rows affected.

[]

### Create cuisines table as a dimension table

In [26]:
%%sql
DROP TABLE IF EXISTS cuisines; 
CREATE TABLE cuisines(
         Key SERIAL PRIMARY KEY,
         cuisines VARCHAR(100),
         menu_item VARCHAR(100),
         rate VARCHAR(10)
         );

 * postgresql://student@/GP9
Done.
Done.

[]

### Populate the cuisines table with data from table ZOMATO

In [27]:
%%sql
INSERT INTO cuisines(cuisines ,menu_item,rate)
SELECT DISTINCT cuisines , menu_item , rate
FROM ZOMATO;

 * postgresql://student@/GP9
0 rows affected.

[]

In [28]:
%%sql
select * from cuisines limit 10

 * postgresql://student@/GP9
0 rows affected.

[]